.droppable {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  min-height: 150px;
  margin: 10px 0;
}

.draggable {
  padding: 10px;
  margin: 5px 0;

  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: move;
  user-select: none;
}

.draggable:hover {
  background-color: #f5f5f5;
}

.sortable-item {
  container: flex;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sortable-handle {
  vertical-align: middle;
  display: inline;
  color: #666;
  background-color: inherit;
  cursor: move;
  user-select: none;
  border: none;
  /* padding: 5px 0px 2px; */
  margin: 0px 10px 0px 0px;
}

.canvas-item-label {
  vertical-align: middle;
  /* display: inline-block; */
}

.sortable-handle:hover {
  background-color: #f5f5f5;
}


/* Style for when item is being dragged */
.dragging {
  opacity: 0.5;
  background-color: #e9ecef;
}

/* Style for when droppable area is active */
.droppable-active {
  border-color: #4299e1;
  background-color: rgba(66, 153, 225, 0.1);
}

#app {
  display: flex;
  min-width: 100vw;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

#canvas {
  padding: 20px;
  border: 2px dashed #ccc;
  min-width: 40%;
}

#toolbox {
  padding: 20px;
  min-width: 20%;
}

#preview {
  padding: 20px;
  border: 2px;
  min-width: 40%;
}

.delete {
  /* inherit backround color from parent */
  background-color: inherit;
  vertical-align: middle;
  cursor: pointer;
  float: right;
  border: 1px solid #ccc;
  padding: 2px;
}
.delete:hover {
  border: none;
  background-color: #f5f5f5;
}
